{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>{% block title %}Template For HTML{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">WWE Universe</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse4">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse4">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link disabled">Draft</a>
                <a href="#" class="nav-item nav-link disabled">Create PPV</a>
                <a href="#" class="nav-item nav-link disabled">Create Match</a>
                <a href="/wrestlers" class="nav-item nav-link">View Wrestlers</a>
                <!-- When This Button Is Clicked, DB Resets -->
                <a href="/run_reset" id="runButton" class="nav-item nav-link">Reset DB</a>
            </div>
            <form class="d-flex ms-auto">
                <input type="text" class="form-control me-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light disabled">Search</button>
            </form>
        </div>
    </div>
</nav>
<!-- NAVBAR END -->

<!-- Start Block -->
{% block content %}

{% endblock %}
<!-- End Block -->



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>