{% extends 'template.html' %}

{% block title %}
    This Is Our List
{% endblock %}

{% block jumbotron %}
    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
{% endblock %}

{% block content %}

    <div class="modal fade" id="updateStatsModal" tabindex="-1" aria-labelledby="updateStatsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateStatsModalLabel">Update Stats</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- This is where our form will go -->
                    <form method="post" action="{% url 'update_stats' %}">
                        {% csrf_token %}
                        {{ update_stats_form.as_p }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="save_stats">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>






    <div class="container text-center">
        <div class="row">

            <!-- Start of Table -->
            <div class="col-lg-10" id="wrestlerTable">
                <div class="container">
                    <table class="table table-hover table-bordered table-striped-columns table-success table-responsive"
                           id="wrestlerIndexTable">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Wrestler ID</th>
                            <th scope="col">Wrestler Name</th>
                            <th scope="col"> Edit ME!</th>
                            <th scope="col">Weight Class</th>
                            <th scope="col">Wins</th>
                            <th scope="col">Losses</th>
                            <th scope="col">Win/Loss Ratio</th>
                            <th scope="col">Current Titles</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for wrestler in wrestlers %}
                            <tr data-weight-class="{{ wrestler.weight_class }}">
                                <td>{{ wrestler.id }}</td>
                                <td>{{ wrestler.name }}</td>
                                <td>
                                    <button data-wrestler-id="{{ wrestler.id }}" data-bs-name="{{ wrestler.name }}"
                                            type="button"
                                            class="btn btn-primary ms-1" data-bs-toggle="modal"
                                            data-bs-target="#updateStatsModal" id="update-button">Edit Stats
                                    </button>
                                </td>

                                <td>{{ wrestler.weight_class }}</td>
                                <td>{{ wrestler.stats.wins }}</td>
                                <td>{{ wrestler.stats.losses }}</td>
                                <td>{{ wrestler.stats.ratio }}</td>
                                <td>
                                    {% for title_holder in wrestler.wrestler_titleholders %}
                                        {{ title_holder.title_belt.name }} (won on {{ title_holder.month_won }}/
                                        {{ title_holder.day_won }}/{{ title_holder.year_won }})
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Start of Filters and Search -->
            <div class="col-lg-2">
                <div class="col-lg-2 center-block">
                    <h3 style="white-space: nowrap">Filter by Weight Class:</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="LHW" id="lightHeavyweightOption">
                        <label class="form-check-label" for="lightHeavyweightOption" style="white-space: nowrap">
                            Light Heavyweight
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="HW" id="heavyweightOption">
                        <label class="form-check-label" for="heavyweightOption" style="white-space: nowrap">
                            Heavyweight
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="CW" id="cruiserweightOption">
                        <label class="form-check-label" for="cruiserweightOption" style="white-space: nowrap">
                            Cruiserweight
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="SHW" id="superHeavyweightOption">
                        <label class="form-check-label" for="superHeavyweightOption" style="white-space: nowrap">
                            Super Heavyweight
                        </label>
                    </div>
                </div>
                <button class="btn btn-primary mt-3" onclick="applyFilters()">Filter</button>
                {#                <button class="btn btn-primary mt-3" onclick="window.location.reload()">Reset</button>#}
                <button class="btn btn-primary mt-3" onclick="clearFilters()">Clear</button>
                <input class="ps-3 mt-3" type="text" id="wrestlerIndexSearch" onkeyup="applyFilters()"
                       placeholder="Search for names..">

                <!-- Build A Wrestler -->
                <div class="col">
                    <h1>Build A Wrestler</h1>
                    <p>Build your Wrestler here</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ add_wrestler_form.as_p }}
                        <button type="submit" id="add_wrestler_form" name="add_wrestler_form"
                                class="btn btn-primary mt-3 mb-3">Submit
                        </button>
                    </form>
                </div>

                <!-- Add Title To Wrestler -->
                <div class="col">
                    <h1>Add Title To Wrestler</h1>
                    <p>Are</p>
                    <form method="post" id="add-title-to-wrestler">
                        {% csrf_token %}
                        {{ add_title_to_form.as_p }}
                        <button type="submit" id="add_title_form" name="add_title_form"
                                class="btn btn-primary mt-3 mb-3">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Function to clear all filters
        function clearFilters() {
            // Clear the search input
            $('#wrestlerIndexSearch').val('');

            // Uncheck all checkboxes
            $('.form-check-input').prop('checked', false);

            // Run the filter function to update the table
            applyFilters();
        }

        // Function to apply both filters
        // NOTE: having table on-top prevents filter from working
        // NOTE: having table on-top prevents filter from working
        function applyFilters() {
            wrestlerFilterSearch();
            wrestlerTableSearch();
        }

        // Function to filter the table rows based on the search box input
        function wrestlerTableSearch() {
            let input, filter;
            input = document.getElementById("wrestlerIndexSearch");
            filter = input.value.toUpperCase();

            // Loop through all rows and hide those which do not match the search filter
            $('#wrestlerIndexTable tbody tr').each(function () {
                let wrestlerName = $(this).find("td").first().text().toUpperCase();
                let weightClass = $(this).data("weight-class");
                if (
                    wrestlerName.indexOf(filter) > -1 &&
                    ($('.form-check-input:checked').length === 0 || $('.form-check-input:checked[value="' + weightClass + '"]').length > 0)
                ) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        // Function to filter the table rows based on selected checkboxes
        function wrestlerFilterSearch() {
            let selectedValues = $('.form-check-input:checked').map(function () {
                return $(this).val();
            }).get();

            // If no checkboxes are selected, consider all rows
            if (selectedValues.length === 0) {
                $('#wrestlerIndexTable tbody tr').show();
            } else {
                // Loop through all rows and hide those which do not match the checkbox filter
                $('#wrestlerIndexTable tbody tr').each(function () {
                    let weightClass = $(this).data("weight-class");
                    if (
                        selectedValues.includes(weightClass) &&
                        ($('#wrestlerIndexSearch').val().trim() === '' || $(this).find("td").first().text().toUpperCase().indexOf($('#wrestlerIndexSearch').val().toUpperCase()) > -1)
                    ) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }
        }

        // Function to sort the table by the column that is clicked using bubble sort
        function wrestlerTableSort(n) {
            let table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("wrestlerIndexTable");
            switching = true;
            dir = "asc";

            while (switching) {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];

                    // Parse the cell content as numbers for numeric columns
                    if (n === 2 || n === 3 || n === 4) {
                        let xValue = parseFloat(x.innerHTML.toLowerCase().replace(',', ''));
                        let yValue = parseFloat(y.innerHTML.toLowerCase().replace(',', ''));

                        if ((dir === "asc" && xValue > yValue) || (dir === "desc" && xValue < yValue)) {
                            shouldSwitch = true;
                            break;
                        }
                    } else {
                        // For non-numeric columns, use regular string comparison
                        if ((dir === "asc" && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) ||
                            (dir === "desc" && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase())) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }

                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount === 0 && dir === "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        // Add the onclick attribute to the th elements
        function addOnClickToTH() {
            const table = document.getElementById('wrestlerIndexTable');
            if (!table) {
                console.error('Table with ID "wrestlerIndexTable" not found.');
                return;
            }

            const thElements = table.querySelectorAll('thead th');
            thElements.forEach((th, index) => {
                th.setAttribute('onclick', `wrestlerTableSort(${index})`);
            });
        }

        // Pass Wrestler ID to Modal
        const modal = document.getElementById('updateStatsModal');
        if (modal) {
            modal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const wrestlerId = button.getAttribute('data-wrestler-id');
                const wrestlerName = button.getAttribute('data-bs-name');
                const modalTitle = modal.querySelector('.modal-title');
                const modalBodyInput = modal.querySelector('.modal-body input[name="wrestler"]');

                modalTitle.textContent = `Update Stats for + ${wrestlerName}`;
                modalBodyInput.value = wrestlerId;
            });
        }

        addOnClickToTH();
    </script>


{% endblock %}
